:root{
     --roseClaro: #FFEADD;
     --roseEscuro:#FF6666;
     --roseItermediario:#FCAEAE;

    }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topnav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-size: 20px;
    background-color: #FCAEAE;
  
}
.topnav a {
    text-decoration: none;
    color:#FF6666
    
}
main {
    background-color: var(--roseClaro);
    display: flex;
    width: 100%
}
 .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 370px;
    line-height: 1.8;
    color: #FF6666;
  
 }

 .texto h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Candal", sans-serif;
    margin-right: 100px;
    font-size: 40px;
    background-color: #FF6666;
    border-radius: 30px;
    padding: 10px;
    color: #FFEADD;
 }
.container-left{
    width: 10%;

}

.container-right{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-right h1{
    font-size: 70px;
    font-family: "Russo One", sans-serif;
    margin-bottom: 50px;
    color: #FF6666;

}
.container-right p{
    margin-bottom: 40px;
    color: #FF6666
}

.container-right button{
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #FF6666;
    color: #FFEADD;
}


.container-right img{
    margin-top: 60px;
}
h3{
    background-color: var(--roseItermediario);
    text-align: center;
    color: #FF6666;
    padding: 20px;
    font-size: 40px;  

}

.container-photo{
    display: flex;
    justify-content: center;
    background-color: #FCAEAE;
    color: #FF6666;
    padding: 0 5% 5% 5%;
    
}
.photo-item{
    background-color: rgba(255, 255, 255, 0.313);
    margin-right: 60px;
    border-radius: 20px;
     
}
.photo-item img{
   width: 150px;
   height: 200px;
   margin: 20px; 
   border-radius: 20px;
   
}
.photo-item p{
    display: flex;
    justify-content: center;
    line-height: 2.5;
    background-color: #FFEADD;
    border-radius: 20px;
    opacity: 0.7;
    margin: 20px; 
}
.container-form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEADD;
  
}
.form-left{
    width:50%;
    background-color: aqua;
}
.form-right{
  width: 40%;
  margin:2em 0;
  padding: 1em 2em;
  border: solid 1px black;
  border-radius: 20px;
  background-color: aqua;
}
label{
   display: block;
    margin-top: 1em;
    background-color: black;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}


  
   
   

